/* Item */

.items{
	margin: 20px 0px;
}

.items .breadcrumb{
	background: transparent;
	border: 0px solid #eee;
	padding: 0px 0px 5px 0px;
	margin: 0px 0px 10px 0px;
	border-radius: 0px;
	border-bottom: 1px solid #f3f3f3;
}

.items .item{
	min-height: 280px;
	max-height: 300px;
	max-width: 250px;
	margin: 10px auto;
	padding: 10px 10px;
	border-radius:4px;
	border: 1px solid #f3f3f3;
	box-shadow: inset 0px 0px 1px #ddd;
	-webkit-transition:box-shadow 1s ease;
   	-moz-transition:box-shadow 1s ease;
   	-o-transition:box-shadow 1s ease;
   	transition:box-shadow 1s ease;
}

.items .item:hover{
	box-shadow: inset 0px 0px 5px #ccc;
	-webkit-transition:box-shadow 1s ease;
   	-moz-transition:box-shadow 1s ease;
   	-o-transition:box-shadow 1s ease;
   	transition:box-shadow 1s ease;
}

.items .item .ico{
	color: #fff;
	display: inline-block;
	width: 35px;
	height: 20px;
	margin-left: 5px;
}

.items .item hr{
	margin: 5px 0px;
}

.items .item .item-image{
	max-height: 150px;
}

.items .item .item-image img{
	padding: 5px 0px;
	height: 140px;
	width: auto;
	display: block;
	margin: 0 auto;
}

.items .item .item-details h5{
	text-align: center;
}

.items .item .item-details h5 a{
	color: #666;
}

.items .item .item-details h5 a:hover{
	text-decoration: none;
}

.items .item .item-details p{
	text-align: center;
}

.items .item .item-price{
	margin: 7px 0px;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px 5px !important;
	line-height: 20px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	background: #f3f3f3;
	border: 1px solid #eee;
}
