#minus{
    border: none;

}

#pansky > div > div > div > div.panel.panel-default > table > tbody > tr > td > a > i{
    color: firebrick;
}

#pansky > div > div > div > div.panel.panel-default > table > tbody > tr > td > a > i{
    color: firebrick;
}

#jquery-loadmodal-js-body > div > table > tbody > tr> td:nth-child(5) > a{
    color: black;

}
#jquery-loadmodal-js-body > div > table > tbody > tr > td:nth-child(5) > a > i{
    color: firebrick;

}

#jquery-loadmodal-js-body > div > table > tfoot > tr:nth-child(2) > td:nth-child(3) > a{
    color:
}
