body > div.navbar > div{
	border-radius: 0;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    background: none !important; 
  	border: 0 !important;
  	box-shadow: none !important;
  	-webkit-box-shadow: none !important;

}
#wrapper > nav > div.navbar-header > a
{
  padding-right: 11px;
padding-bottom: 0px;
width: 315px;
height: 47px;
padding-top: 5px;
}
body > div.navbar{
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
}

#navbar > ul{
	display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

a:#navbar > ul > li#navbar > ul > li:nth-child(5){

   color:#FAF3F3;
}
#navbar > ul > li > a:hover
{
  font-family: "Helvetica Neue";
  font:"Helvetica Neue";
  background-color: #121212;
  color:  #FFF;
  opacity: .99;
  text-shadow:none;
}
.navbar-inverse .navbar-nav>li>a
{
  font-size: larger;
  color: #121212;
  text-shadow:none;
}
.nav-logo {height: 96%;}
