<%inherit file="/base/templates/base.htm" />

<%block name="appheadlinks">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

</%block>

<%block name="content">



<nav class="navbar " role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/static/homepage/media/newLogoBlackthe.svg" alt="" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/homepage/">Home</a></li>
        <li><a href="/festivals/">Festivals</a>
        </li>
        <li><a href="/shop/items/">Rental Shop</a>
        </li>
        <li>
            <a href="/shop/products/">Products</a>
        </li>
        <li>
            <a href="/administration/users/">Admin</a>
        </li>
        <li><a href="#"></a></li>

      </ul>
      <form id="search_go" class="navbar-form navbar-right" method="POST" action="/shop/index.search/" role="search">
        <div class="form-group">
          <input type="text" id="search_input" class="form-control" placeholder="Search">
        </div>
        <button type="submit" id="search_button" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"></a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right navbar-user">

              <li><a href="#" id="cart"><i class="fa fa-shopping-cart"></i> Cart  </a></li>
              <li>
                  <ul class="nav navbar-nav navbar-right navbar-user">
                      <ul class="nav navbar-nav navbar-right navbar-user">
                          %if request.user.is_authenticated():
                              <li class="dropdown user-dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>${ user.get_short_name() }<b class="caret"></b></a>
                                  <ul class="dropdown-menu">
                                      <li><a href="/shop/account/"><i class="fa fa-user"></i> Profile</a>
                                      </li>
                                      <li><a href="#"><i class="fa fa-gear"></i> Settings</a>
                                      </li>
                                      <li class="divider"></li>
                                      <li><a href="/administration/users.logout_view/"><i class="fa fa-power-off"></i> Log Out</a>
                                      </li>

                                  </ul>
                              </li>
                          %else:
                              <li class="dropdown user-dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Login or Signup<b class="caret"></b></a>
                                  <ul class="dropdown-menu">
                                      <li>
                                           <a href="#" id="show_login_dialog">Login</a>
                                      </li>

                                      <li>
                                          <a href="/homepage/signup/">Signup</a>
                                      </li>

                                  </ul>
                          %endif



                              </ul>
                          </li>
                          <li class="divider-vertical"></li>
                      </ul>
                  </ul>

              </li>



      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




    <%block name="shopcontent">
    <!-- _________________________The content of the shop will be here _____________________________ -->
    </%block>
</%block>

<%block name="footlinks">

</%block>
