<%inherit file="/base/templates/base.htm" />

<%block name="appheadlinks">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

</%block>
<%block name="content">

    <%block name="shopcontent">
    <!-- _________________________The content of the shop will be here _____________________________ -->
    </%block>
</%block>

<%block name="footlinks">

</%block>
