<%inherit file="base.htm" />

<%block name="shopcontent">
<div class="container">

%if confirmation:

<h1>Order Confirmation# ${ confirmation["ID"] }</h1>

%endif
<div class="items">
    <h2></h2>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3>Purchases</h3></div>

        <!-- Table -->
        <table class="table">
            <th>

                <td>
                    Product
                </td>
                <td>
                    Unit Price
                </td>
                <td>
                    Extended Price
                </td>
            </th>
        <tbody>
            <% purchase_total = 0%>


            %for key,value in current_cart.items():
                <%

                    price = int(value[0].current_price)
                    qty = value[1]

                    product_sub_total = (price * qty)
                    purchase_total += product_sub_total
                %>


                <tr>
                    <td>${ value[1]}</td>
                    <td>${ value[0].name }</td>
                    <td>$${ price }</td>
                    <td>$${ product_sub_total }</td>



                </tr>
            %endfor


        </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3>Rentals</h3></div>

        <!-- Table -->
        <table class="table">
            <th>
                <td>
                    Item
                </td>
                <td>
                    Daily  Price
                </td>
                <td>
                    30 Day Price
                </td>
            </th>
        <tbody>
            <% rental_total=0%>

            %for rental in rental_cart:
            <%
                month = rental.rental_price * 30
                rental_total += month
            %>


                <tr>
                    <td> </td>
                    <td>${ rental.name }</td>
                    <td>$${ rental.rental_price }</td>
                    <td>$${ month }</td>



                </tr>
            %endfor

        </tbody>
        </table>

    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3>Payment Summary</h3></div>
        <table>
            <tfoot>
                <tr>

                    <td></td>
                    <td></td>
                    <td><h4>Purchase Total </h4></td>

                    <td>     <h4> $${ purchase_total }</h4>     </td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td><h4>Rental Total</h4></td>

                    <td>     <h4> $${ rental_total }</h4>     </td>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td><h4>Grand Total</h4></td>
                    <%
                        grand_total = rental_total+purchase_total
                    %>
                    <td>     <h4> $${ grand_total }</h4>     </td>
                </tr>
                <tr>

            </tfoot>
        </table>
    </div>
</div>
</div>

</%block>
