<%inherit file="base.htm" />

<%block name="shopcontent">
    <div class="items">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title">Products for Sale</h2>
                </div>
                <div id="item-loop">
                    %for product in products:
                        <!-- Item #1 -->
                        <div class="col-md-3 col-sm-4">
                            <div class="item">
                                <!-- Item image -->
                                <div class="item-image">
                                    <a href="/shop/item_detail/${ product.id }">
                                        <img src="/static/shop/media/product_images/${ product.id }.jpg" alt="${ product.id}.jpg image" />
                                    </a>
                                </div>
                                <!-- Item details -->
                                <div class="item-details">
                                    <!-- Name -->
                                    <!-- Use the span tag with the class "ico" and icon link (hot, sale, deal, new) -->
                                    <h5>${ product.name }
                                    </h5>
                                    <div class="clearfix"></div>
                                    <!-- Para. Note more than 2 lines. -->
                                    <p>${ product.description }</p>
                                    <hr />
                                    <!-- Price -->

                                    <div class="item-price pull-left">$${ product.current_price }</div>
                                    <!-- Add to cart -->
                                    <button data-iid="${ product.id }" data-product="true" class="btn btn-default add_button pull-right">Add to Cart</button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    %endfor
                </div>
            </div>
        </div>
    </div>
</%block>
