<%inherit file="base_ajax.htm" />

<%block name="content">

<div class="items">
    <h2>Products</h2>

    <table class="table">
    <thead>
        <th>
                Quantity
        </th>
        <th>
                Name
        </th>
        <th>
                Price
        </th>
        <th>
                Item Total
        </th>
        <th>
                Remove
        </th>
    </thead>
    <tbody>
        <% purchase_total = 0%>


    %for key,value in current_cart.items():

        <%
            price = int(value[0].current_price)
            qty = value[1]

            product_sub_total = (price * qty)
            purchase_total += product_sub_total
        %>

        <tr>
            <td>${ value[1]}</td>
            <td>${ value[0].name }</td>
            <td>$${ value[0].current_price }</td>
            <td>$${ product_sub_total }</td>
            <td><a href="#" class="red delete_button" data-pid="${ value[0].id}" data-productbool="True" }><i class="fa fa-minus-square"></i> </a></td>


        </tr>
    %endfor
    </tbody>
    <tfoot>
    <tr>
        <td>
            <h2>Rentals</h2>
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
    </tr>

    </tfoot>

</table>
</div>
<div class="items">


    <table class="table">
    <thead>
        <th>
            Name
        </th>
        <th>
                Daily Rate
        </th>
        <th>
                Monthly Price
        </th>

        <th>
                Remove
        </th>
    </thead>
    <tbody>
        <%
            rental_total = 0
            allmonth = 0
        %>



    %for rental in rental_cart:

        <%
            month = rental.rental_price * 30
            allmonth += month
            rental_total +=rental.rental_price

        %>

        <tr>
            <td>${ rental.name}</td>
            <td>$${ rental.rental_price }</td>
            <td>$${ month }</td>

            <td><a href="#" class="red delete_button" data-pid="${ rental.id}" data-productbool="False" }><i class="fa fa-minus-square delete "></i> </a></td>


        </tr>
    %endfor
    </tbody>
    <tfoot>
        <tr>

            <td></td>
            <td></td>
            <td><h4>Purchase Total</h4></td>

            <td>     <h4> $${ purchase_total }</h4>     </td>
        </tr>
        <tr>

            <td></td>
            <td></td>
            <td><h4>Rental Total</h4></td>

            <td>     <h4> $${ allmonth }</h4>     </td>
        </tr>
        <tr>

            <td></td>
            <td></td>
            <td><h4>Grand Total</h4></td>
            <%
                grand_total = allmonth+purchase_total
            %>
            <td>     <h4> $${ grand_total }</h4>     </td>
        </tr>
        <tr>

            <td>

            </td>
            %if request.user.is_authenticated():
            <td>
                <a href="/shop/checkout/" class="btn btn-primary checkout_button">Proceed to Checkout</a>
            </td>

            %else:
            <td>
                <h3>Please <a href="#" class="show_login_dialog" >Login</a>  to Checkout</h3>
            </td>
            %endif
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </tfoot>

</table>

</div>





</%block>
