<%inherit file="base.htm" />

<%block name="content">
<table-responsive>
  <table id="users_table" class="table table-bordered table-default">
    <tr>
      <td>ID</td>
      <td>First</td>
      <td>Last</td>
      <td>Email</td>
      <td>Actions</td>
    </tr>
  %for user in users:
    <tr>
      <td>${ user.id }</td>
      <td>${ user.first_name }</td>
      <td>${ user.last_name }</td>
      <td>${ user.email }</td>
      <td>Edit | Delete</td>
    </tr>
  %endfor  
  </table>
</table-responsive>
  

</%block>