<%inherit file="base.htm" />

<%block name="headlinks">

</%block>

<%block name="content">
    <div id="wrapper">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img class="nav-logo" src="/static/homepage/media/newlogowhitethe.svg">

                </a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id="active" class="nav navbar-nav side-nav">
                    <li class="selected"><a href="users.html"><i class="fa fa-users"></i>  Users</a>
                    </li>
                    <li><a href="#"><i class="fa fa-map-marker"></i>  Locations</a>
                    </li>
                    <li><a href="#"><i class="fa fa-calendar-o"></i>  Events</a>
                    </li>
                    <li><a href="#"><i class="fa fa-list-ol"></i>  Rental Items</a>
                    </li>
                    <li><a href="#"><i class="fa fa-money"></i>  Products </a>
                        <div class="arrow-right"></div>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right navbar-user">

                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Rodney Cox<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-user"></i> Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a>
                            </li>

                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">
           <div class="container-fluid">
                <div class="row">
                    <h1 class="col-md-8 pull-left">System Users</h1>            
                </div>
            </div>
            <div class="row">   
                <div class="col-md-12 col-sm-8 col-lg-12">

                    <div class="table-responsive">
                        <table id="mytable" class="table">
                            <thead>
                                <th></th>
                                <th>ID</th>
                                <th>First</th>
                                <th>Last</th>
                                <th>Email</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </thead>
                            <tbody>
                                    
                                        %for user in users:  
                                        <tr>

                                            <td><input type="checkbox" class="checkthis" /></td>                                  
                                            <td>${ user.id }</td>
                                            <td>${ user.first_name }</td>
                                            <td>${ user.last_name }</td>
                                            <td>${ user.email }</td>
                                            ## <td><a href="/users.edit/${ user.id }/">Edit</a>| Delete</td>
                                            <td>
                                                <p data-placement="top" data-toggle="tooltip" title="Edit">
                                                    <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                </p>
                                            </td>
                                            <td>
                                                <p data-placement="top" data-toggle="tooltip" title="Delete">
                                                    <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </p>
                                            </td>
                                            
                                        </tr>
                                        %endfor  
                       



                            </tbody>

                        </table>

                        <div class="clearfix"></div>


                    </div>

                </div>
            </div>
        </div>
        <div class="container text-center">
    <hr />
  <div class="row">
    <div class="col-MD-12">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">About us</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Product for Mac</a></li>
          <li><a href="#">Product for Windows</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Web analytics</a></li>
          <li><a href="#">Presentations</a></li>          
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Product Help</a></li>
          <li><a href="#">Developer API</a></li>
        </ul>
      </div>  
    </div>
  </div>
  <hr>
    <div class="row">
        <div class="col-md-10-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="/"> 2013 Company Name.</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
    </div>
</div>
    </div>

    </div>
</%block>

<%block name="footlinks">
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>
</%block>