<%inherit file="base.htm" />
  
  <%block name="headlinks">
    
  </%block>

  <%block name="content">
  <div id="wrapper">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Admin Panel</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul id="active" class="nav navbar-nav side-nav">
                <li class="selected"><a href="users.html"><i class="fa fa-bullseye"></i> Users</a>
                </li>
                <li><a href="#"><i class="fa fa-tasks"></i> Events</a>
                </li>
                <li><a href="#"><i class="fa fa-globe"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-list-ol"></i> Rental Items</a>
                </li>
                <li><a href="#"><i class="fa fa-font"></i> Products</a>
                </li>
                <li><a href="#"><i class="fa fa-font"></i> Timeline</a>
                </li>
                <li><a href="#"><i class="fa fa-list-ol"></i> Forms</a>
                </li>
                <li><a href="#"><i class="fa fa-font"></i> Typography</a>
                </li>
                <li><a href="#"><i class="fa fa-list-ul"></i> Bootstrap Elements</a>
                </li>
                <li><a href="#"><i class="fa fa-table"></i> Bootstrap Grid</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right navbar-user">
              
                <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Rodney Cox<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-user"></i> Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a>
                        </li>

                    </ul>
                </li>
                <li class="divider-vertical"></li>
                           </ul>
        </div>
    </nav>

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1>Dashboard <small>Statistics and more</small></h1>
                
            </div>
        </div>

    </div>

</div>
  </%block>

  <%block name="footlinks">
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>
  </%block>  