<%inherit file="/base/templates/base.htm" />

<%block name="appheadlinks">
    <link rel="stylesheet" type="text/css" href="/static/administration/styles/thirdpartystylesheets/massive.css">
    <link rel="stylesheet" type="text/css" href="/static/administration/styles/thirdpartystylesheets/font-awesome/css/font-awesome.min.css">
</%block>
<%block name="content">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/homepage/index/">
            <img class="nav-logo" src="/static/homepage/media/chflatowhite.svg">

        </a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul id="active" class="nav navbar-nav side-nav">
            <li>
                ## spacer
            </li>
            <li class="selected">
                <div class="left-bar"></div>
                <a href="/administration/users/"><i class="fa fa-users"></i>&nbsp;&nbsp;&nbsp;&nbsp;Users
                    <div class="arrow-left"></div>
                </a>

            </li>
            <li>
                <a href="/administration/locations/"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Locations</a>
            </li>
            <li>
                <a href="/administration/events/"><i class="fa fa-calendar-o"></i>&nbsp;&nbsp;&nbsp;&nbsp; Events</a>
            </li>
            <li>
                <a href="/administration/items/"><i class="fa fa-list-ol"></i>&nbsp;&nbsp;&nbsp;&nbsp; Rental Items</a>
            </li>
            <li>
                <a href="/administration/products/"><i class="fa fa-money"></i>&nbsp;&nbsp;&nbsp;&nbsp;Products </a>

            </li>
            <li>
                <a href="/administration/venues/"><i class="fa fa-qrcode"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Venues</a>
            </li>
            <li>
                <a href="/administration/overdue/"><i class="fa fa-exchange"></i></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Overdue Rentals</a>
            </li>
            <li>
                <a href="/administration/users.logout_view/"><i class="fa fa-sign-out"></i></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Logout</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-user">
            <ul class="nav navbar-nav navbar-right navbar-user">
                %if request.user.is_authenticated():
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>${ user.get_short_name() }<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/shop/account/"><i class="fa fa-user"></i> Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="/administration/users.logout_view/"><i class="fa fa-power-off"></i> Log Out</a>
                            </li>

                        </ul>
                    </li>
                %else:
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Login or Signup<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" id="show_login_dialog">Login</a>
                            </li>

                            <li>
                                <a href="/homepage/signup/">Signup</a>
                            </li>

                        </ul>
                %endif



                    </ul>
                </li>
                <li class="divider-vertical"></li>
            </ul>
        </ul>

    </div>
</nav>

    <%block name="administrationcontent">
    <!-- _________________________The content of the admin will be here _____________________________ -->
    </%block>
</%block>

<%block name="footlinks">
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>
</%block>
