<%inherit file="/base/templates/base.htm"/>

<%block name="appheadlinks">
      <link rel="stylesheet" type="text/css" href="/static/administration/styles/thirdpartystylesheets/massive.css">
      <link rel="stylesheet" type="text/css" href="/static/administration/styles/thirdpartystylesheets/font-awesome/css/font-awesome.min.css">
</%block>
<%block name="content">
  <%block name="administrationcontent">


  </%block>
</%block>

<%block name="footlinks">
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>
</%block>
