<%inherit file="base.htm" />



<div class="login">
    <div class="row">
        <div class="col-md-12">
            <h3>Log In</h3>
        </div>

        <form class="form-horizontal signin-form" method="POST">
            ${ form.non_field_errors() }
            % for field in form:
            <div class="form-group col-md-12">
                <!-- <label class="col-md-3 control-label">${field.label}</label> -->
                <div class="col-md-12">
                    ${field}
                </div>
            </div>
            % endfor
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary">Sign In</button><br>
                Not a user? sign up <a href="/signup/" />Here</a>
            </div>
        </form>
    </div>
</div>
