<%inherit file="base.htm" />

<%block name="headlinks">

</%block>

<%block name="administrationcontent">
    <div id="wrapper">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img class="nav-logo" src="/static/homepage/media/newlogowhitethe.svg">

                </a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id="active" class="nav navbar-nav side-nav">
                    <li>
                        ## spacer
                    </li>
                    <li class="selected">
                        <div class="left-bar"></div>
                        <a href="users.html"><i class="fa fa-users"></i>  Users
                            <div class="arrow-left"></div>
                        </a>

                    </li>
                    <li>
                        <a href="#"><i class="fa fa-map-marker"></i>  Locations</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-calendar-o"></i>  Events</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-list-ol"></i>  Rental Items</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-money"></i>  Products </a>

                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right navbar-user">

                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Rodney Cox<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-user"></i> Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="/administration/users.logout_view/"><i class="fa fa-power-off"></i> Log Out</a>
                            </li>

                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">


           <div class="container">
                <div class="row">
                    <div class=" col-lg-5 col-lg-offset-1">
                        <h1 class="">System Users</h1>

                    </div>
                    <div class="col-lg-2 col-lg-offset-3">
                      <a href="/administration/users.create/" class="btn btn-default">
                          <i class="fa fa-male"></i>
                          New User
                      </a>
                    </div>
                </div>

            <div class="row">
                <div class="col-md-12 col-sm-8 col-lg-10 col-lg-offset-1">

                    <div class="table-responsive">
                        <table id="mytable" class="table">
                            <thead>
                                <th></th>
                                <th>ID</th>
                                <th>First</th>
                                <th>Last</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </thead>
                            <tbody>

                                        %for user in users:
                                        <tr>

                                            <td><input type="checkbox" class="checkthis" /></td>
                                            <td>${ user.id }</td>
                                            <td>${ user.first_name }</td>
                                            <td>${ user.last_name }</td>
                                            <td>${ user.username }</td>
                                            <td>${ user.email }</td>
                                            ##
                                            <td>
                                                <p data-placement="top" data-toggle="tooltip" title="Edit">
                                                    <a href="/administration/users.edit/${ user.id }/" class="button btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span>
                                                    </a>
                                                </p>
                                            </td>
                                            <td>
                                                <p data-placement="top" data-toggle="tooltip" title="Delete">
                                                    <a href="/administration/users.remove/${ user.id }" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span>
                                                    </a>
                                                </p>
                                            </td>

                                        </tr>
                                        %endfor




                            </tbody>

                        </table>

                    </div>


                        ## <div class="clearfix"></div>


                    </div>

                </div>
            </div>

        </div>


    </div>

    </div>
</%block>

<%block name="footlinks">
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>
</%block>
