<%inherit file="base.htm" />

<%block name="headlinks">

</%block>

<%block name="administrationcontent">
    <div id="wrapper">


        <div id="page-wrapper">


           <div class="container">
                <div class="row">
                    <div class=" col-lg-5 col-lg-offset-1">
                        <h1 class="">Venues</h1>

                    </div>
                    <div class="col-lg-2 col-lg-offset-3">
                      <a href="/administration/venues.create/" class="btn btn-default">
                          New Venue
                      </a>
                    </div>
                </div>

            <div class="row">
                <div class="col-md-12 col-sm-8 col-lg-10 col-lg-offset-1">

                    <div class="table-responsive">
                        <table id="mytable" class="table">
                            <thead>
                                <th></th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </thead>
                            <tbody>

                                        %for venue in venues:
                                        <tr>

                                            <td><input type="checkbox" class="checkthis" /></td>
                                            <td>${ venue.id }</td>
                                            <td>${ venue.name }</td>
                                            <td>${ venue.description }</td>
                                            <td>${ venue.address }</td>
                                            <td>${ venue.city }</td>
                                            <td>${ venue.state }</td>
                                            <td>${ venue.zip_code }</td>

                                            <td>
                                                <p data-placement="top" data-toggle="tooltip" title="Edit">
                                                    <a href="/administration/venues.edit/${ venue.id }/" class="button btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span>
                                                    </a>
                                                </p>
                                            </td>
                                            <td>
                                                <p data-placement="top" data-toggle="tooltip" title="Delete">
                                                    <a href="/administration/venues.remove/${ venue.id }" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span>
                                                    </a>
                                                </p>
                                            </td>

                                        </tr>
                                        %endfor




                            </tbody>

                        </table>

                    </div>


                        ## <div class="clearfix"></div>


                    </div>

                </div>
            </div>

        </div>


    </div>

    </div>
</%block>

<%block name="footlinks">
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>
</%block>
