body{
    background-color: #343434;
}


.login {
    margin:200px auto;
    padding:20px;
    border-radius:6px;
    color: #fff;
}

.panel-default {
    border-color:#ecf0f1;
    width:40%;
    margin:50px auto;
}

.signin-form {
    padding: 0 50px 20px;
    font-size: 16px;
    font-weight: 100;
    width: 30%;
    margin: 0 auto;
}
#inputEmail {
    margin-bottom:10px;
}

.main h3 {
    margin-top:0;

}

h3 {
    color: #FFF;
    text-align:center;
    margin: 0 40px 20px 0px;
}
.signin-form input {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    box-shadow: none;
}
.signin-form input:focus {
    border: none;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid #fff;
    box-shadow: none;
}
.hero .btn-primary {
    background-color:rgba(255,0,0,0.38);
    border-radius:7px;
    border-color:rgba(255,0,0,0);
    font-weight:100;
    width: 90%;
    margin-bottom: 7px;
}

.hero .btn-primary:hover {
    background-color:rgba(255,0,0,0.5);
}
.signin-form a {
    text-decoration: underline;
}
.signin-form a:hover {
    color: #FF0000;
    text-decoration: none;
}
